html{
    background-image: url("../images/bats.gif");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

img{
    float: left;
    margin-right: 100px;
    
}

body {
	font-family: sans-serif;
    width: 800px;
    background-color: white;
    border: 5px solid black;
    border-style: solid;
    box-shadow: 5px 5px 5px 5px black;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

#nav_long ul{
    list-style-type: none;
}

#nav_long ul li{
    float: left;
}

#nav_long ul li a{
    text-align: center;
    display: block;
    width: 100px;
    padding: 1em;
    text-decoration: none;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-right: 2px solid white;
    border: 2px solid black;
    box-shadow: 2px 2px;
}

#nav_menu ul{
    list-style-type: none;
    position: relative;
}

#nav_menu ul li{
    float: left;
}

#nav_menu ul li a{
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-right: px solid white;
}

#nav_menu ul li a:hover{
    background-color: gray;
}

#nav_menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li{
    float: none;
}

#nav_menu ul li:hover > ul{
    display: block;
}

#nav_menu > ul::after{
    content: "";
    display: block;
    clear: both;
}

aside{
    width: 160px;
    float: left;
}

#nav_right ul{
    list-style-type: none;
    
}

#nav_right ul li a{
    float: right;
}

main{
    width: 590px;
    float: right;
    padding: 20px;
    padding-left: 30px;
    margin-top: -20px;
}

header{
    background: linear-gradient(45deg, white, orange, black);
    vertical-align: middle;
     border-bottom: 2px solid black;
    padding-bottom: 1em;
    margin; 0;
    padding: 1px;
}

footer{
    margin-top: em;
    border-top: 2px solid;
    padding: 1.5em;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    border-top: 2px solid black;
    background: linear-gradient(45deg, black, orange 75%, white);
    clear: both;
}


h2{
    font-size: 125%;
    
}

p{
    margin-left: 20px;
}

header h1{
    padding-left: 80px;
    margin-bottom: 0;
    margin-left: 30px;
    
}

header h3{
    margin-top: 0;
    padding-left: 80px;
    margin-left: 30px;
    
}

li{
    margin: 7px 0;
}

a:link{
    color: orange;
}

a:visted{
    color: orange;
}